.App {
  text-align: center;
  width: 100vw;
  background-repeat: repeat;
  .searchbar{
    background-color: var(--color-white);
  }
  &__container {
    width: 55%;
    @media screen and (max-width: 768px) {
      width: 95%;
    }
    margin: 0 auto;
  }
}
