.box {
    width: 100%;
    &__movie {
        width: 49%;
        height: auto;
        @media screen and (max-width: 1000px) {
            width: 100%;
        }
        &--fullwidth {
            width: 100%;
        }
        &__poster {
            background-color: var(--color-medium-gray) !important;
            img {
                width: 100%;
            }
        }
        &__details {
            width: 85%;
            @media screen and (max-width: 575px) {
                width: 100%;
            }
            &__year {
                color: var(--color-dark-gray) !important;
            }
        }
    }
}
